* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    
}




.header{
    height: 120px;
    width: 100%;
    background-color:#fff15b;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 1px 1px 3px grey;
    
}
.header-container {
    width: 65vw;
    margin: auto;
}
.logo-searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px;
    
    
}

.promo-suscripciones img {
    width: 27rem;
}


.header-searchbar{
    width: 75%;
}
.img-logo{
    width: 80%;
     margin: 10px;
     
 }



.header-searchbar form{
    color: #555;
    display: flex;
    padding: 2px;
    /* border: 1px solid currentColor; */
    border-radius: 2px;
    box-shadow: 1px 2px 3px -2px grey;
    background: whitesmoke;
}


.barra-busqueda{
    text-align: left;
    padding-left: 2px;
    height: 2.1rem;
    margin-left: 5px;
    width: 100%;
    border-radius: 2px;
    border: none;
    background: transparent;
    
}

.search-icon{        
    width: 30px;
    padding-left: 2px;
    font-weight: 100;
    color: rgb(51, 51, 51);
    border-left: 1px solid grey;

} 
.form-buscar input:focus{
    
    border: none;
}



header img {
    width: 15rem;
}


.burger-menu{
    color:  white;
    text-align: center;
    font-size: 20px;
    margin: 5px;
     
    
}

.burger-menu i {
    background: blue;    
    border-radius: 5px;
    padding: 5px;
}

.enviar-a {
    display: flex;
}

.enviar-text {
    font-size: 0.8rem;
    color:rgb(138, 135, 135);
}

.enviar-ciudad {
    font-size: 1rem;
    color:black;
}

.location-icon {
    color:rgb(70, 70, 70);
    font-size: 40px;
}
.navbar ul{    
    padding: 0;
    list-style: none;       
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}
.navbar-left {
    width: 25%;
}
.navbar-left li a {
    text-decoration: none;
    color: black;
}
ul li{
    font-size: 0.9rem;
    margin-left:7px ;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 7px;
}


main{
    margin-top: 120px; 
    
    
 }


 .banner{
    display: flex;
    justify-content: center;
    align-items: center;   
}


.img-banner{
    width: 100vw;   
    
}



main section article i{    
    font-size: 1.2em;
    padding: 5px;     
    
    border: 1px solid #39b54a;
    border-radius: 50%;
    color: #39b54a;   
    
}


article img{    

    width: 80vw;      
    height: auto;
    margin: 0px 5px;
    border-bottom: 1.75px solid rgba(172, 170, 170, 0.678);       
}

.seccion-ultimasvistas, 
.seccion-ofertas{
    width: 100vw;
    display: flex;
    flex-direction: column;
}


.contenedorarticulo {        
    background-color: white ;    
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;      
    padding-top: 15px;
    box-shadow: 2px 5px 10px rgb(116, 116, 116);

    position: relative;

    transition:  transform 0.8s ;
    
}


.contenedorarticulo:hover{
    transform: scale(1.08);    
}


.icono-envio{    
    position: absolute;
    right:35px;
    bottom: 42px;
    transition: transform 0.8s ;
}

.icono-envio:hover{
    transform: rotate(-90deg);    
}

.forma-pago{
    text-align: center;
   
}
.titulares {
    font-size: 24px;
}

.pie-producto{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 5px 0;
}

.precio {
    font-weight: bold;
    font-size: 18px;
    
}

.descuento {
    font-size: 16px;
    color: #39b54a;
}

.descripcion {
    font-size: 16px;
    margin-bottom: 5px;
}
.bienvenida {
    text-align: center;
}
.forma-pago i{
    text-align: center;
}




.categorias-populares{
    display: flex;
    margin: auto;

}



.cat-pop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0 5px;
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    background: white;
}
.cat-pop span {
    font-size: 3rem;
    color: #1259c3;
}





footer {
   
    text-align: center;
    background-color: #ebebeb;
    
    
   
    
    
    
}

.footer-title{
    font-size: 1.1rem;
    color: #1259c3;
}
footer p{
    font-size: 10px;
}

footer i{
    font-size: 2em;
    color: #1259c3;
}
footer section{
    margin-bottom: 10px;
}



/****************************************
Formulario Registro y login
---------------------------------------*/
.formulario {
    margin: 25px;
    display: flex;        
    box-shadow: 5px 10px 15px grey;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    

}

.formulario form {
    display: flex;
    flex-direction: column;

    margin: 15px;
    width: 75%;    
}

.formulario-titulo{
    padding-top: 20px;
    text-align: center;
}

.form-radio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;    
}


.field {
    height: 2rem;
    margin-bottom: 15px;    
}

input[type="checkbox"]{
    margin-bottom: 15px;
}

.title-preferencia,
.title-perfil{
    margin-bottom: 15px;
}

.btn-enviar{
    font-size: 1.2rem;
    height: 30px;
    width: 100%;
    border: none;
    background-color: #1259c3;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(26, 24, 24);
}




@media (min-width: 496px){
    
    .formulario form{
        width: 30%;
    }
    .navbar ul{
        display: flex;        
    }
  
    .footer{
        display: flex;       
        justify-content: space-around;
        width: 100vw;
    }
    .footer-title{
        font-size: 1rem;
    }

    .burger-menu{
        display: none;
    }


    .seccion-ultimasvistas, 
    .seccion-ofertas {
        flex-direction: row;
         
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
            
        }
    .pie-producto{        
        width: 80%;
    }
    .precio,
    .descuento{
        font-size: 14px;
    }
        article img{
            width: 40vw;
            transition: all 0.5s;
        }

        .icono-envio i {
            font-size: 1em;
        }
    .icono-envio{
        right: 25px;
        bottom: 49px;
    }
}


/* Desde este ancho hacia arriba*/
@media (min-width: 768px){

    article img{
        width: 18vw;    
    }

    .icono-envio {
        right: 8px;        
    }
    .descripcion{
        font-size: 12px;
        font-weight: normal;
    }

}